/* <----------------------------- 1200px media -------------------------------------> */
@media (max-width: 1199.98px) {
    .card>img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        padding-bottom: 10px;
    }

    /* potion -item  */

    .greb {
        right: 0px;
        top: 35%;
    }

    .masroom {
        width: 80px !important;
        left: 10px;
        top: 45%;
    }

    .f-row1 {
        width: 370px;
    }
    .main-circle {
        gap: 30px;
        text-align: center;
        padding: 80px;
    }
}
/* <----------------------------- 992px media -------------------------------------> */

@media (max-width: 991.98px) {
    .nav-btn {
        display: none;
    }

    .nav-bars {
        display: block;

    }

    .d-beetween {
        justify-content: space-between;
    }

    .col-50 {
        width: 100%;
    }

    .hero-text {
        padding: 70px 50px 70px 50px;
        color: white;
    }

    .title-pizza {
        font-size: 59px;
    }

    .hero-text>p {

        font-size: 17px;
    }

    .btn {
        font-size: 18px;
    }
    /* section 2 started  */

    .s2-main {
        width: 55%;
        padding: 170px 0px;
    }

    /* section 1 started  */

    .d-flex {
        flex-direction: column;
    }

    /* potion items  */

    .fulvadi {
        top: -50px;
        right: 200px;
    }

    .greb {
        right: 10px;
        top: 30%;
    }

    .jinga {
        bottom: 35%;
        right: -20px;
    }

    .kothmir {
        bottom: 25%;
        left: 50px;
    }

    .leafe {
        top: 190px;
        right: 80px;
    }

    .masroom {
        width: 80px !important;
        left: 50px;
        top: 45%;
    }

    .mirchi {
        width: 100px !important;
        bottom: 15%;
        right: 50px;
    }

    .onione {
        width: 90px !important;
        left: 50px;
        bottom: 80px;
    }

    .tomato {
        top: 250px;
        left: 100px;
    }

    .jinga2 {
        top: 100px;
        left: -30px;
        transform: rotate(180deg);
    }

    /* setion 2 started  */

    .s2-end {
        display: flex;
        justify-content: end;
    }

    /* section 6 started  */

    .s6-main>input {
        width: 90%;
    }

    .positions-item2>img {
        position: absolute;
        width: 70px;
        z-index: -1;
    }

    .fulvadi2 {
        top: 30px;
        right: 24%;
    }

    .greb2 {
        right: 20px;
        bottom: 25%;
    }

    .jinga3 {
        width: 70px !important;
        bottom: 45px;
        right: 100px;
    }

    .kothmir2 {
        bottom: 40px;
        left: 15%;
    }

    .leafe2 {
        top: 160px;
        right: 70px;
    }

    .masroom2 {
        width: 65px !important;
        left: 20px;
        bottom: 28%;
    }

    .mirchi2 {
        width: 60px !important;
        bottom: 20px;
        right: 30%;
    }

    .onione2 {
        width: 65px !important;
        left: 38%;
        bottom: 20px;
    }

    .tomato2 {
        top: 30px;
        left: 23%;
    }

    .jinga4 {
        top: 150px;
        left: 50px;
        transform: rotate(180deg);
    }

    /* footer started  */

    .f-main {
        gap: 80px;
    }

    .f-main>div {
        margin: auto;
        text-align: center;
    }

    #f-lorem {
        padding-right: 0px;
    }

    .d-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* <----------------------------- 767px media -------------------------------------> */

@media (max-width: 767.98px) {
    .s2-main {
        width: 70%;
        padding: 50px 0px;
    }

    .s2-main>h2 {
        font-size: 55px;
    }

    .s2-main>p {
        font-size: 17px;
        padding: 30px 0px 40px 0px;
    }

    /* section 4 started  */

    .s4-main {
        text-align: center;
        padding: 80px 0px;
    }

    /* section 6 started  */

    .s6-main {
        padding: 60px 0px;
    }

    .s6-main>input {
        width: 80%;
    }

    .greb2 {
        bottom: 35%;
    }

    .fulvadi2 {
        top: 80px;
        right: 50px;
    }

    .jinga3 {
        bottom: 10px;
        right: 80px;
    }

    .kothmir2 {
        bottom: 30px;
        left: 10%;
    }

    .masroom2 {
        left: 20px;
        bottom: 32%;
    }

    .onione2 {
        width: 65px !important;
        left: 38%;
        bottom: 20px;
    }

    .tomato2 {
        top: 80px;
        left: 50px;
    }

    .leafe2 {
        display: none;
    }

    .mirchi2 {
        display: none;
    }

    .jinga4 {
        display: none;
    }

    .bg-black {
        background-color: #111111;
        color: white;
    }

    /* footer started  */
    .f-row1 {
        width: auto;
    }
}

/* <----------------------------- 576px media -------------------------------------> */

@media (max-width: 575.98px) {
    .hero-text {
        padding: 70px 0px 70px 0px;
        color: white;
    }

    .title-pizza {
        font-size: 50px;
    }

    .hero-text>p {
        padding: 20px 0px 30px 0px;
        font-size: 15px;
        font-weight: 400;
    }

    .btn {
        font-size: 15px;
    }

    /* potion items  */

    .fulvadi {
        top: -50px;
        right: 200px;
    }

    .greb {
        right: 10px;
        top: 30%;
    }

    .jinga {
        bottom: 35%;
        right: -20px;
    }

    .kothmir {
        bottom: 25%;
        left: 10px;
    }

    .leafe {
        top: 120px;
        right: 0px;
    }

    .masroom {
        width: 80px !important;
        left: 10px;
        top: 45%;
    }

    .mirchi {
        width: 100px !important;
        bottom: 15%;
        right: 10px;
    }

    .onione {
        width: 90px !important;
        left: 10px;
        bottom: 80px;
    }

    .tomato {
        top: 300px;
        left: 0px;
    }

    .jinga2 {
        top: 100px;
        left: -30px;
    }

    /* section 2 started  */
    .bg-img2 {
        background-image: linear-gradient(109.6deg, rgba(0, 0, 0, 0.785) 30.2%, rgba(11, 132, 145, 0) 85.1%), url("../IMG/section3-img.png");
    }

    .s2-main {
        width: 100%;
        padding: 50px 0px;
    }

    .s2-main>h2 {
        font-size: 35px;
    }

    .s2-main>p {
        font-size: 15px;
        padding: 30px 0px 40px 0px;
    }

    .bg-img3 {
        background-position-x: -50px;
    }

    .s1-bg-color {
        padding: 0px;
    }


    /* section 3 started  */
    .s1-main,
    .s3-main {
        text-align: center;
        width: 100%;
    }

    .size-h2 {
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
    }

    .size-p {
        margin: auto;
        font-size: 18px;
        width: 100%;
    }

    /* section 5 started  */
    .s4-main {
        text-align: center;
        padding: 80px 0px;
    }

    .s4-main>p {
        font-size: 20px;
    }

    .s4-main>h2 {
        font-size: 35px;
        padding-top: 20px;
    }

    /* section 6 started  */
    .s6-main {
        text-align: center;
        padding: 60px 0px;
    }

    .s6-main>input {
        height: 50px;
        width: 100%;
        border-radius: 25px;
        margin-top: 50px;
        padding: 20px;
        font-size: 17px;
    }

    .positions-item>img {
        width: 70px;
    }

    .positions-item2>img {
        display: none;
    }

    .f-row1 {
        width: 100%;
        padding: 0px;
    }

    #f-lorem {
        padding-right: 0px;
    }

    .d-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
    }

}